/* Animation fluide */
html {
    scroll-behavior: smooth;
}

/* Style de la section d'accueil avec dégradé */
.hero-section {
    background: linear-gradient(rgba(1, 68, 33, 0.8), rgba(1, 68, 33, 0.8)), 
                url('https://images.unsplash.com/photo-1548550023-2bdb3c5beed7?auto=format&fit=crop&q=80&w=1200');
    background-size: cover;
    background-position: center;
}

/* Effet sur les cartes */
.shadow:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease;
}